 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<div class="container">
	 
	  <div class="page-header">
	   <br>
	   <h1>FUNDs</h1>
<h4>Financially United Numismatic Dudes</h4><br>
<br>

</div>

<div class="jumbotron">
<table>
 <h1>Member Sign In</h1>
 <br>
 <br>
 
  <%= form_for(:session, :url => {:controller => "session", :action => "create"}) do |f| %>
     
      <%= f.text_field :userName, placeholder:"Username" %><br>
      <br>
      
      <%= f.text_field :password, placeholder:"Password" %>
      <br>
      <br>
      <br>
      <%= f.submit "Login", :onclick=> "alert('No user found, please register!')", class: "btn btn-primary" %>
      <br>
      <br>
      <br>
    <% end %>
  
</table>
<p> Don't have an account? Click here below!</p>
<button type = button, class = class: "btn btn-primary"><%= link_to 'New Users' , new_user_path %></button>

</div>

<Footer class="background">
    <div class="footer">
        <p>&#169; 2019 Financially United Numismatic Dudes</p>
       
    </div>
</Footer>

