


 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container">
	<div class="page-header">
		
		<div class="entry">
	<% @i = 0 %>
	<% @d = 0 %>
	<% @wishCount = 0 %>
	</div>
<% @missed.each do |wishlist| %>
	 <% next if @d+wishlist.price >= Expense.sum('price') %>
	<% @d += wishlist.price %>
	<% @wishCount += 1 %>
	
      <% next if @d >= Expense.sum('price') %>

      <% end %>
	
<h1> Welcome, <%= @theUser.last[:firstName] %> </h1>

</div>

<div class="jumbotron">
	<h1>You've <%= Expense.count('description') %> recorded expense(s)</h1><br>
	<h1>that total <%= number_to_currency(Expense.sum('price')) %> this month. </h1><br>
	<button type = button, class = class: "btn btn-primary"><%= link_to 'View/Add Expenses' , controller: 'expenses' %></button><br>
	<br>
	<br>
	<h1>You've <%= Wishlist.count('description') %> Wish List item(s)</h1><br>
	<h1>that total <%= number_to_currency(Wishlist.sum('price')) %> worth of item(s). </h1> <br>
	<button type = button, class = class: "btn btn-primary"><%= link_to 'View/Add Wishlist' , controller: 'wishlists' %></button><br>
	<br>
	<br>
	<h1>You missed <%= @wishCount %> items, this is what you could have purchased from your wishlist:</h1><br>

	<table style ="margin-left:auto;margin-right:auto;">
  <tr>
    <th>Description</th>
    <th>Price</th>
    
  </tr>
  
    <% @missed.each do |wishlist| %>
	 <% next if @i+wishlist.price >= Expense.sum('price') %>
	<% @i += wishlist.price %>
	<tr>
      <td><%= wishlist.description %></td>
      <td><%= number_to_currency(wishlist.price) %></td>
      </tr>
      <% next if @i >= Expense.sum('price') %>

      <% end %>
      </tr>
      </table>
	
	
	
</div>
<br>	<button type = button, class = class: "btn btn-primary"><%= link_to 'Log Out', controller: 'session' %></button>